body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
:root {
    --bg-info: #cdddff;
    --text-info: #5b58ad;

    --bg-success: #cff3da;
    --text-success: #68a981;

    --bg-warning: #fcfbc9;
    --text-warning: #ab9e4a;

    --bg-error: #fad2d6;
    --text-error: #94344a;
}
.message {
    padding: .5em;
    margin: .5em;
    border: solid 1px lightgray;
    border-radius: 5px;
}
.message-info {
    color: var(--text-info);
    background-color: var(--bg-info);
}
.message-success {
    color: var(--text-success);
    background-color: var(--bg-success);
}
.message-warning {
    color: var(--text-warning);
    background-color: var(--bg-warning);
}
.message-error {
    color: var(--text-error);
    background-color: var(--bg-error);
}
